/* SELECTOR UNIVERSAL para resetear las configuraciones por defecto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

html {
    font-size: 62.5%;
}

body{
    width: 100vw;
    margin: 0 auto;
    background-color:#FFF8E5;
}

header{
    background-color: #FF9F1C;
    margin: 0 auto;
    width: 70%;
    padding: 20px;
    color: white;
    border-radius: 5px;
    min-width: 375px;
    max-width: 1024px;
}

main{
    width: 70%;
    padding: 0%;
    margin: 0 auto;
    background-color:white;
    margin-bottom: 20px;
    min-width: 375px;
    max-width: 1024px;
    border-radius: 1rem;
    padding-bottom: 2rem;
}

section {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.subtitle_page {
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
}

h3{
    font-size: 1.3rem;
    font-style: normal;
    text-align: left;
    padding: 20px;
}

p {
    font-size: 1.3rem;
    padding: 20px;
}

span{
    margin: 2rem;
    font-size: 1.3rem;
}

form{
    font-weight: bold;
    color: #444444;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;

}

select {
    color: #444444;
    font-weight:bolder;
    font-size: 1.2rem;
    background-color:#FFF8E5;
}


.submitButton {
    margin: 10px;
    width: 150px;
    border-radius: 5px; 
    }

.submitButton:hover {
    background-color:#d7d5d8;

}


section nav {
    margin-top: 1rem;
}

ul{
    list-style-type: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #011627;
}


li a{
    float: left;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #E71D36;
}

.active {
    background-color: #2EC4B6;
}

#exit {
    float: right;
}

input {
width: 300px;
border-radius: 5px;
display: block;
margin-bottom: 20px;
}

select {
    width: 300px;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    }

menu {
    background-color:#E8FAF3;
    width: 100%;
    padding: 1px;
}

hr {
    border-color: #FFF8E5;
    width: 100%;
    margin-top: 2rem;
}

footer {
    width: 70%;
    min-width: 375px;
    max-width: 1024px;
    margin: 0 auto;
    background-color:#FFF8E5;
    color: #787A91;
}

.emergente_sucess {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

table {
    font-size: 1.3rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 90%;
    border-collapse: collapse;
}

th {
    text-align: center;
    padding: 8px;
    font-weight: bold;
    background-color:#444444;
    color: white;
    border-radius: 5px;
  }

td {
    border: 1px rgb(133, 133, 133) ridge;
    border-radius: 5px;
    background-color: #f7f5f8;
    text-align: left;
    padding: 8px;
  }

  .table_td_img {
      width: 50px;
      height: 50px;
  }